<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (location()) {
      <div>
        <h2 data-cy="locationDetailsHeading"><span jhiTranslate="eventsOnlineApp.location.detail.title">Location</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ location()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.streetAddress">Street Address</span></dt>
          <dd>
            <span>{{ location()!.streetAddress }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.postalCode">Postal Code</span></dt>
          <dd>
            <span>{{ location()!.postalCode }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.city">City</span></dt>
          <dd>
            <span>{{ location()!.city }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.stateProvince">State Province</span></dt>
          <dd>
            <span>{{ location()!.stateProvince }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.countryName">Country Name</span></dt>
          <dd>
            <span>{{ location()!.countryName }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.location.region">Region</span></dt>
          <dd>
            <span [jhiTranslate]="'eventsOnlineApp.Region.' + (location()!.region ?? 'null')">{{
              { null: '', NA: 'NA', LATAM: 'LATAM', EMEA: 'EMEA', APAC: 'APAC', ANZ: 'ANZ' }[location()!.region ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/location', location()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
