<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (applicationUser()) {
      <div>
        <h2 data-cy="applicationUserDetailsHeading">
          <span jhiTranslate="eventsOnlineApp.applicationUser.detail.title">Application User</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ applicationUser()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.applicationUser.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ applicationUser()!.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.applicationUser.persontype">Persontype</span></dt>
          <dd>
            @if (applicationUser()!.persontype) {
              <div>
                <a [routerLink]="['/person-type', applicationUser()!.persontype?.id, 'view']">{{ applicationUser()!.persontype?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.applicationUser.person">Person</span></dt>
          <dd>
            @if (applicationUser()!.person) {
              <div>
                <a [routerLink]="['/conference', applicationUser()!.person?.id, 'view']">{{ applicationUser()!.person?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="eventsOnlineApp.applicationUser.internalUser">Internal User</span></dt>
          <dd>
            <span>{{ applicationUser()!.internalUser?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/application-user', applicationUser()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
